<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="my-pokimg">
  <template>
    <style>
      :host {
          display: block;
          padding: 10px;
          width: 120px;
      }
      .pokemon-name {
        display: block;
        text-align: center;  
        color: #178fa5;
      }
    </style>
    <iron-image style="width:120px; height:120px;"
      sizing="cover" preload fade src="/images/pokemon/120px/{{ name }}.png"></iron-image>
      <span class="pokemon-name">{{name}}<span>
  </template>
  <script>

    Polymer({
      is: 'my-pokimg',
      properties: {
        name: String
      }
    });

  </script>


</dom-module>
